<section class="contact">
  <div class="container contact-grid">

    <div class="contact-content">
      <div class="contact-text">
        <h1>Let's connect</h1>
        <p>Whether you want to explore ideas, discuss a project, or just chat through possibilities, I'm always open to
          a
          conversation.</p>
      </div>

      <div class="contact-cta">
        {% include cta-form.html %}
      </div>
    </div>

    <figure class="contact-media">
      <img class="contact-image drop-shadow border-panel"
        src="{{ include.img_src | default: '/assets/images/profile_picture.jpg' | relative_url }}"
        alt="{{ include.img_alt | default: 'Portrait' }}">
    </figure>
    
  </div>
</section>
