<section id="hero">

  <div id="hero-inner" class="container">

    <h1 id="hero-title">Professional engineering design,<br>exactly when you need it</h1>

    <p id="hero-subtitle">
      Independent Chartered Mechanical Design Engineer, delivering efficient design with momentum - from concept to
      prototype to product.
    </p>

    {% include cta-form.html %}

    <figure id="hero-figure" class="drop-shadow edge-width">
      <img class="hero-slide hero-slide-1" src="assets/images/hero_screenshot.png" alt="" aria-hidden="true">
      <img class="hero-slide hero-slide-2" src="assets/images/hero_screenshot_2.png" alt="" aria-hidden="true">
      <img class="hero-slide hero-slide-3" src="assets/images/hero_screenshot_3.png" alt="" aria-hidden="true">
      <figcaption class="visually-hidden">Example CAD work</figcaption>
    </figure>
    
  </div>
</section>

