<section id="hero">

  <div id="hero-inner" class="container">

    <h1 id="hero-title"><span class="marker-underline">Professional</span> engineering design,<br>exactly when you need it</h1>

    <p id="hero-subtitle">
      Independent Chartered Mechanical Engineer, delivering efficient design with momentum - from concept to
      prototype to product.
    </p>

    {% include cta-form.html %}

    <figure id="hero-figure">
      <img class="drop-shadow border-panel" src="assets/images/hero_screenshot.png" alt="" aria-hidden="true">
      <figcaption class="visually-hidden">Example CAD work</figcaption>
    </figure>
    
  </div>
</section>

