<section id="hero">
  <div class="container">

    <h1 id="hero-title">
      Engineering Design for <br>
      <span class="print-accent">Founders</span> and <span class="print-accent">Researchers</span>
    </h1>

    <p id="hero-subtitle">
      <span class="hero-emph">Chartered Mechanical Engineer</span> specialising in efficient, agile prototype development under tight timelines & budgets.
    </p>

    <figure id="hero-figure" class="drop-shadow edge-width">
      <img class="hero-slide" src="{{ '/assets/images/hero_screenshot.png' | relative_url }}" alt="Example CAD work" loading="eager" decoding="sync">
      <figcaption class="visually-hidden">Example CAD work</figcaption>
    </figure>

  </div>
</section>
